@font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 400;
    src: 
     url("../../fonts/HelveticaNeueCyr-Roman.ttf") format("ttf"),
     url("../../fonts/HelveticaNeueCyr-Roman.woff") format("woff"),
     url("../../fonts/HelveticaNeueCyr-Roman.woff2") format("woff2");
}

@font-face {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 700;
    src: 
     url("../../fonts/HelveticaNeueCyr-Bold.ttf") format("ttf"),
     url("../../fonts/HelveticaNeueCyr-Bold.woff") format("woff"),
     url("../../fonts/HelveticaNeueCyr-Bold.woff2") format("woff2");
}